// FeedItem
.item {}



// headee
.header {
    display: flex;
}

.header-wrapper {
    margin: 8px 4px 8px 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}
.image{
    width: 32px;
    height: 32px;
    display: flex;
}
.name-wrapper{
    margin-left: 12px;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    flex-shrink: 1;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.username{
    font-weight: 600;
}
.detail{
    padding: 2px;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    display: block;
}
.sub-name{
    color: rgb(142,142,142);
}
.button-wrapper {
    padding: 8px;
    display: flex;
}

// footer
.footer{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}
.like{
    margin-bottom: 8px;;
}

// footer/button

.button{
    margin-top: 4px;
    padding-bottom: 6px;
    display: flex;
}
.footer button {
    padding: 8px;
}
.like-btn{
    margin-left: -8px;
}
.save-btn{
    margin-left: auto;
        margin-right: -10px;
}