@import "../../styles";
// item-wrapper > item > main 
// Feed
.item-wrapper {
    margin-bottom: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid $ig-separator;
    
}

// FeedItem
.item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

// Feed/Main
.main {
    // max-height: 585px;
    background-color: $ig-primary-background;
    border-radius: 4px;
    border: 1px solid $post-separator;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

// header
.header {
    display: flex;
}

.header-wrapper {
    margin: 8px 4px 8px 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.image {
    width: 32px;
    height: 32px;
    display: flex;
}

.name-wrapper {
    margin-left: 12px;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    flex-shrink: 1;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.username {
    font-weight: $font-weight-system-semibold;
}

.detail {
    padding: 2px;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    display: block;
}

.sub-name {
    color: rgb(142, 142, 142);
}

.more-wrapper {
    padding: 8px;
    display: flex;
}
// footer
.footer {
    display: flex;
    flex-direction: column;
}

.like {
    margin-bottom: 8px;
}
.like span {
    font-weight: $font-weight-system-semibold;
}
// footer/button
.button {
    margin-top: 4px;
    padding-bottom: 6px;
    display: flex;
}

.footer button {
    padding: 8px;
}

.like-btn {
    margin-left: -8px;
}

.save-btn {
    margin-left: auto;
    margin-right: -10px;
}
