@import 'normalize.css';
@import "/src/styles";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    font-size: 14px;
    line-height: 18px;
}


ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: $ig-primary-text;

    &:hover {
        text-decoration: none;
        color: currentColor;
    }
}

button {
    color: $ig-primary-text;
    font-family: $font-family-system;
    font-size: $system-14-font-size;
    line-height: $system-14-line-height;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
img {
    width: 100%;
    height: 100%;
}